@tailwind base;
@tailwind components;
@tailwind utilities;

ul::-webkit-scrollbar {
    width: 15px
}
ul::-webkit-scrollbar-track {
    background-color: #D1D2D4;
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin-block: 0
}

ul::-webkit-scrollbar-thumb {
    background: #999ba0;
    min-height: 50px;
    border-radius: 10px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 18px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #D1D2D4;
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin-block: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5379da;
    min-height: 50px;
    border-radius: 10px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}


.shadow-black {
    box-shadow: 4px 4px rgb(41, 41, 41);
}
